<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-2">To Do List</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Add Task">
                        <button class="btn btn-outline-success" type="button"><mat-icon class="mt-1">add</mat-icon></button>
                      </div>
                </div>
                <h4 class="text-primary-emphasis mt-4">Tasks : </h4>
                <div style="overflow-y:auto; height: 350px;">
                    <div class="m-3">
                        <div class="p-2 shadow">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10">schedule a meeting with development team</div>
                                <button class="btn col-md-1"><mat-icon class="text-primary-emphasis">edit</mat-icon></button>
                                <button class="btn col-md-1"><mat-icon class="text-danger">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
